<!-- src/main/resources/templates/notice/list.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>공지사항 목록</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>공지사항 목록</h1>
<a href="/notice/write">공지사항 작성</a>
<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>내용</th>
        <th>이미지</th>
        <th>작성자</th>
        <th>수정</th>
        <th>삭제</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notice, iterStat : ${notices}">
        <td th:text="${iterStat.count}">1</td>
        <td th:text="${notice.title}">제목</td>
        <td th:text="${notice.content}">내용</td>
        <td>
            <img th:if="${notice.imagePath}" th:src="@{${notice.imagePath}}" alt="공지 이미지" width="100">
        </td>
        <td th:text="${notice.createdBy.username}">작성자</td>
        <td>
            <form th:action="@{'/notice/' + ${notice.id} + '/edit'}" method="get">
                <button type="submit">수정</button>
            </form>
        </td>
        <td>
            <form th:action="@{'/notice/' + ${notice.id} + '/delete'}" method="post">
                <button type="submit">삭제</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
