<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAGI WEB PAGE</title>
    <link rel="stylesheet" th:href="@{/css/attendence1.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/attendance}">
    <!--js-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<header id="main-header">
    <a th:href="@{/}">
        <img src="/img/WAGI_logo_crop.png" alt="logo">
    </a>
    <nav id="main-navigation">
        <ul class="menu">
            <li class="menu-item"><a th:href="@{/notice}">Notice</a></li>
            <li class="menu-item"><a th:href="@{/attendance}">Attendance</a></li>
            <li class="menu-item"><a th:href="@{/outcome}">Outcome</a></li>
        </ul>
    </nav>
    <!-- 모바일 전용 -->
    <a>
        <img src="/img/ci_hamburger-lg.svg" id="category_button" value="">
    </a>
    <div class="slide" id="slide">
        <ul id="slide_menu">
            <li class="menu-item"><a th:href="@{/notice}">Notice</a></li>
            <li class="menu-item"><a th:href="@{/attendance}">Attendance</a></li>
            <li class="menu-item"><a th:href="@{/outcome}">Outcome</a></li>
            <div sec:authorize="isAuthenticated()">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="menu-item"><a th:href="@{/admin/attendance}">Manager-출석</a></li>
                    <li class="menu-item"><a th:href="@{admin/register}">Manager-합격자</a></li>
                    <li class="menu-item"><a th:href="@{admin/auth}">Manager-권한</a></li>
                </div>
            </div>
        </ul>
    </div>
    <!-- 모바일 전용 -->
</header>
<h2> &nbsp;&nbsp;✦&nbsp;attendance</h2>

<div id="page-wrapper">

    <div id="main-section">


        <div id="attendance-box">
            <div id="babywagi-icon">
                <img src="/img/baby_wagi.png" alt="Battery Icon">

            </div>
            <p id="ooo"><div style="color:white;" name="studentId" th:text="${studentId}"></div> <div style="color:white;" name="username" th:text="${username}"></div>님</p>
            <div id="user-info">

                <div id="attendance-inbox">
                    <p><div class="todayDate" th:text="${todayDate}"></div></p>
                    <p><div class="todayTime" th:text="${todayTime}"></div></p>
                    <p>WAGI에 출석체크 하시겠습니까?</p>
                </div>

            </div>

        </div>

    </div>
    <form th:action="@{/attendance/request}" method="get">
        <button id="attendance-button">attendance</button>
    </form>
</div>


<footer id="main-footer">
    <img src="/img/WAGI_black.png" alt="logo">

    <p>ⓒWAGI. 2024 All rights reserved</p>

    <button class="login-button" sec:authorize="isAnonymous()">
        <a th:href="@{/login}">LOGIN</a>
    </button>
    <button class="login-button" sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">LOGOUT</a>
    </button>
</footer>
<script src="/js/menu_style.js"></script>
</body>
</html>
