<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAGI WEB PAGE</title>
    <link rel="stylesheet" th:href="@{css/attendence1.css}">
    <link rel="stylesheet" th:href="@{css/base.css}">
    <link rel="stylesheet" th:href="@{/attendance}">
    <!--js-->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<header id="main-header">
    <button id="back-button">
        <img src="img/whiteBack.svg" alt="back">
    </button>
    <a th:href="@{/}">
        <img src="img/WAGI_logo_crop.png" alt="logo">
    </a>

    <a th:href="@{/home}">
        <img src="img/WAGI_logo_crop.png" alt="logo">
    </a>
    <nav id="main-navigation">
        <ul class="menu">
            <li class="menu-item"><a href="">Notice</a></li>
            <li class="menu-item"><a th:href="@{/attendance}">Attendance</a></li>
            <li class="menu-item"><a href="">Outcome</a></li>
        </ul>
    </nav>
    <!-- 모바일 전용 -->
    <a>
        <img src="img/ci_hamburger-lg.svg" id="category_button" value="">
    </a>

    <div class="slide" id="slide">
        <ul id="slide_menu">
            <li class="menu-item"><a href="./notice.html">Notice</a></li>
            <li class="menu-item"><a th:href="@{/attendance/request}">Attendance</a></li>
            <li class="menu-item"><a href="./outcome.html">Outcome</a></li>
            <li class="menu-item"><a th:href="@{/admin/attendance}">Manager-출석</a></li>
            <li class="menu-item"><a href="./outcome03.html">Manager-Outcome</a></li>
            <li class="menu-item"><a href="./notice04_01.html">Manager-Notice</a></li>
            <li class="menu-item"><a href="./manager03.html">Manager-합격자</a></li>
            <li class="menu-item"><a href="./manager04.html">Manager-권한</a></li>
        </ul>
    </div>
    <!-- 모바일 전용 -->
</header>
<h2> &nbsp;&nbsp;✦&nbsp;attendance</h2>

<div id="page-wrapper">

    <div id="main-section">


        <div id="attendance-box">
            <div id="babywagi-icon">
                <img src="img/baby_wagi.png" alt="Battery Icon">

            </div>
            <p id="ooo" style="color:white;"><span th:if="${user != null}" th:text="${studentId} + ' ' + ${username} + '님'"></span></p>
            <div id="user-info">

                <div id="attendance-inbox">
                    <span th:text="${todayDate}"></span><br>
                    6:30<br>
                    WAGI에 출석체크 하시겠습니까?
                </div>

            </div>

        </div>

    </div>
    <button id="attendance-button"><a th:href="@{/attendance/request}">attendance</a></button>
</div>


<footer id="main-footer">
    <img src="img/WAGI_black.png" alt="logo">
    <p>ⓒWAGI. 2024 All rights reserved</p>

    <button id="login-button"><a th:href="@{/login}">LOGIN</a></button>
</footer>
<script src="js/menu_style.js"></script>
</body>
</html>
