<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAGI WEB PAGE</title>
    <link rel="stylesheet" th:href="@{~/css/outcome02.css}">
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
</head>
<body>
<header id="main-header">
    <button id="back-button">
        <img src="/img/whiteBack.svg" alt="back">
    </button>
    <a th:href="@{/}">
        <img src="/img/WAGI_logo_crop.png" alt="logo">
    </a>
    <nav id="main-navigation">
        <ul class="menu">
            <li class="menu-item"><a th:href="@{/notice}">Notice</a></li>
            <li class="menu-item"><a th:href="@{/attendance}">Attendance</a></li>
            <li class="menu-item"><a th:href="@{/outcome}">Outcome</a></li>
        </ul>
    </nav>
    <!-- 모바일 전용 -->
    <a>
        <img src="/img/ci_hamburger-lg.svg" id="category_button" value="">
    </a>
    <div class="slide" id="slide">
        <ul id="slide_menu">
            <li class="menu-item"><a th:href="@{/notice}">Notice</a></li>
            <li class="menu-item"><a th:href="@{/attendance}">Attendance</a></li>
            <li class="menu-item"><a th:href="@{/outcome}">Outcome</a></li>
            <div sec:authorize="isAuthenticated()">
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <li class="menu-item"><a th:href="@{/admin/attendance}">Manager-출석</a></li>
                    <li class="menu-item"><a th:href="@{/admin/register}">Manager-합격자</a></li>
                    <li class="menu-item"><a th:href="@{/admin/auth}">Manager-권한</a></li>
                </div>
            </div>
        </ul>
    </div>
    <!-- 모바일 전용 -->
</header>

    <div id="page-wrapper">
        <div id="main-section">
            <div class="content-section">
                <div class="first-container">
                    <div class="text1" th:text="${category}">Game</div>
                    <div class="text2" th:text="${outcome.title}">Crystal-Link</div>
                </div>
            </div>
            <div class="content-section">
                <div class="second-container">
                    <div class="white-box">
                        <img th:src="${outcome.imagePath}" alt="Project Image" class="project-image">
                        <textarea class="textbox" th:text="${outcome.content}" readonly></textarea>
                    </div>
                </div>
            </div>
            <div class="button-container">
                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_MANAGER')">
                    <a th:href="@{/outcome/manager/edit/{id}(id=${outcome.id})}" class="button">
                        <button type="button" id="rewrite-button">수정</button>
                    </a>
                    <form th:action="@{/outcome/manager/delete/{id}(id=${outcome.id})}" method="post">
                        <button type="submit" id="delete-button">삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

<footer id="main-footer">
    <img src="/img/WAGI_black.png" alt="logo">

    <p>ⓒWAGI. 2024 All rights reserved</p>

    <button class="login-button" sec:authorize="isAnonymous()">
        <a th:href="@{/login}">LOGIN</a>
    </button>
    <button class="login-button" sec:authorize="isAuthenticated()">
        <a th:href="@{/logout}">LOGOUT</a>
    </button>
</footer>
    <script th:src="@{~/js/menu_style.js}"></script>
    <script th:src="@{~/js/back_button.js}"></script>
    <script th:src="@{~/js/switch.js}"></script>

</body>
</html>