<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>공지사항 작성</title>
</head>
<body>
<h1>공지사항 작성</h1>

<!--<form th:action="@{/notices}" th:object="${notice}" method="post">-->
<!--    <div>-->
<!--        <label for="title">제목:</label>-->
<!--        <input type="text" id="title" th:field="*{title}" placeholder="제목을 입력하세요" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="content">내용:</label>-->
<!--        <textarea id="content" th:field="*{content}" placeholder="내용을 입력하세요" required></textarea>-->
<!--    </div>-->
<!--    <div>-->
<!--        <button type="submit">작성</button>-->
<!--    </div>-->
<!--</form>-->

</body>
</html>
