<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
<form action="#" th:action="@{/login}" method="post">
  <div>
    <label for="userId">User ID</label>
    <input type="text" id="userId" name="userId" th:value="${userId}" placeholder="Enter your user ID">
  </div>
  <div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" th:value="${password}" placeholder="Enter your password">
  </div>
  <div>
    <button type="submit">Login</button>
  </div>
</form>

<p th:if="${error}" style="color: red;" th:text="${error}"></p>

</body>